---
---

@import "{{ site.theme }}";

@font-face {
    font-family: 'Font';
    src: url('https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H3gnD_g.woff2');
  }
  
   body{
    font-family: 'Font';
  }
  

#header_wrap, #footer_wrap, body, #footer_wrap{
    background: #e593e5
}

#forkme_banner{
    background-color: black;
    left: 0px;
    right: unset;
    border-radius: 0 0 12px 12px;
    color: #e593e5
}

#holderMain{
    display: flex;
    flex-direction: row;
}

#pic_holder {
    height: auto;
    width: 0px
}

#pic1,#pic2,#pic3,#pic4 {
    width: 250px;
    border: 2px solid black;
    margin: 5px;
    background: black;
    box-shadow: 0 0 8px 4px pink;
}

#pic1:hover, #pic2:hover, #pic3:hover, #pic4:hover{
    cursor: pointer
}

header.inner, footer.inner,#main_content.inner{
    max-width: 100%;
}

#reccom{
    position: absolute;
    right: 4px;
    top: 1px;
    text-align: end;
}

a#acid{
    color: #373737;
    text-decoration: underline;
}

#project_title, #Maint.copyright, #Maint.copyright a{
    color: #373737;
    text-shadow: #fff 0px 0px 10px
}