---
---

@import "{{ site.theme }}";

#header_wrap, #footer_wrap, body, #footer_wrap{
    background: #e593e5
}

#forkme_banner{
    background-color: black;
    left: 0px;
    right: unset;
    border-radius: 0 0 12px 12px;
    color: #e593e5
}

#holderMain{
    display: flex;
    flex-direction: row;
}

#pic_holder{
    height: auto;
    width: 100px;
}

#pic1, #pic2, #pic3, #pic4{
    width: auto;
    height: 213px;
}

#pic1:hover, #pic2:hover, #pic3:hover, #pic4:hover{
    cursor: pointer
}